$background-dark: #1d1e22;
$background-light: #eaeff3;
$background-white: #fff;
$background-black: #000;

$text-darkmode-white: #e4e4e4;
$text-darkmode-grey: #cecece;
$text-lightmode-grey: #989b9d;
$text-lightmode-dark: #4d4c4e;
$text-lightmode-black: #1d1e22;

$purple: #5268f4;
